src/stb_image.h linguist-vendored
src/stb_image_resize.h linguist-vendored
src/stb_image_dds.h linguist-vendored
src/AreaTex.h linguist-generated
src/SearchTex.h linguist-generated

src/reshade/* linguist-vendored

src/shader/smaa.h linguist-vendored
src/shader/fxaa3_11.h linguist-vendored
